/*屏幕大小适配*/
html {
  font-size: 16px;
}
@media screen and (max-width: 980px) and (min-width: 980px){
  html {
    font-size: 4vw;
  }
  article.collapsed {
    margin-left: 1rem !important;
  }
}
@media screen and (max-width: 768px){
  html {
    font-size: 4vw;
  }
  article.collapsed {
    margin-left: 1rem !important;
  }
}
/*初始化*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  -webkit-font-smoothing: antialiased;
  background: var(--bg-color,#fff);
  color: var(--text-color,#000);
  transition: color 0.25s ease-out 0s, background-color 0.25s ease-out 0s;
}
a {
  text-decoration: none;
}
button {
  cursor:pointer;
}
code {
  background: var(--code-bg-color,#eee);
  border-radius: 0.3rem;
  padding: 0 0.3rem;
}
dd {
  margin-left: 1rem;
}
h1 {
  font-size: 2rem;
  margin: 0.8rem 0;
}
h2 {
  font-size: 1.75rem;
  margin: 0.6rem 0;
}
h3 {
  font-size: 1.5rem;
  margin: 0.4rem 0;
}
h4 {
  font-size: 1.25rem;
  margin: 0.2rem 0;
}
h5 {
  font-size: 1rem;
  margin: 0.2rem 0;
}
h6 {
  font-size: 1rem;
}
hr {
  margin: 0 auto;
  margin-bottom: 0.5rem;
}
i {
color: var(--light-text-color,#666);
}
img{
  width: 60%;
  vertical-align: middle;
}
kbd {
  border: 2px solid var(--border-color,#eee);
  border-radius: 0.2rem;
}
li {
  margin-left: 1.5rem;
}
p {
  margin-bottom: 1rem;
}
pre {
  margin: 0.8rem 0;
}
pre > code{
  display: block;
  padding: 0.8rem;
  overflow: auto;
}
table {
  margin: 0.8rem 0;
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0.3rem;
}
td {
  border: 2px solid var(--border-color,#ddd);
}
th {
  background-color: var(--th-bg-color,#e5e5e5);
  border: 2px solid var(--th-border-color,#d9d9d9);
}
tr {
  background: var(--tr-bg-color,#fff);
}
tr:nth-child(2n) {
  background: var(--tr2-bg-color,#f8f8f8);
}
.align-left {
  text-align: left;
}
.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}
.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}
.clearfix::after {
  clear: both;
}
.hide{
  display: none !important;
}
.invisible {
  visibility: hidden !important;
}
/*导航栏*/
nav {
  z-index: 50;
  color: var(--nav-color,#fff);
}
    /*导航栏顶部*/
nav a{
  color: var(--nav-color,#fff);
}
nav ul#header {
  position: fixed;
  display: flex;
  width: 100%; height: 3rem;
  line-height: 3rem;
  background: var(--nav-bg-color,#333);
}
nav ul#header a:hover{
  color: var(--nav-ahover-color,#e96900);
}
nav ul#header li {
  margin: 0;
  width: 5.5rem; height: 3rem;
  text-align: center;
  list-style: none;
}
nav ul#header li.current {
  color: var(--nav-a-color,#e96900);
  border-bottom: 3px solid var(--nav-ahover-color,#e96900);
}
nav ul#header li#filler {
  flex: 1;
}
nav ul#header a:last-child li {
  width: 3rem; height: 3rem;
}
    /*折叠侧边栏*/
nav span#collapse-aside{
  position: fixed;
  right: 0; bottom: 0;
  font-size: 2rem;
  color: var(--a-color,#42b983);
}
    /*工具栏*/
nav ul#tools {
  position: fixed;
  right: 0; bottom: 20%;
  line-height: 1.1rem;
}
nav ul#tools li{
  margin-top: 0.5rem;
  width: 1.2rem; height: 4.5rem;
  overflow: hidden;
  text-align:center;
  list-style: none;
  background: var(--tools-bg-color,rgba(0, 0, 0, 0.6));
}
/*侧边栏*/
aside {
  position: fixed; z-index: 100;
  top: 3rem;
  width: 20rem; height: calc(100% - 3rem);
  overflow: auto;
  background: var(--bg-color,#fff);
  border-right: 2px solid var(--border-color,#eee);
  transform: translateX(-20rem);
  transition: transform 0.15s linear 0s;
}
aside a{
  color: var(--text-color,#000);
}
aside a:hover{
  color: var(--a-color,#42b983);
  text-decoration:underline;
}
aside.expanded {
  transform: translateX(0);
}
aside h1 {
  text-align: center;
  font-weight: 400;
}
aside hr {
  width: 80%
}
aside dl {
  margin: 0.5rem;
}
/*内容*/
article {
  margin: 0 1rem;
  padding-top:4rem;
  transition: margin-left 0.15s linear 0s;
}
article a{
  color: var(--a-color,#42b983);
}
article a:hover{
  text-decoration: underline;
}
article.collapsed {
  margin-left: 21rem;
}
/*语言列表*/
article ul.language-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 1rem;
}
article ul.language-list li {
  margin: 0.8rem 0.6rem;
  height: 11rem; width: 12rem;
  overflow: hidden;
  border: 2px solid var(--border-color,#eee);
  border-radius: 0.4rem;
  list-style: none;
  box-shadow: 0.2rem 0.2rem 0.2rem rgba(0,0,0,0.3);
  transition: transform 0.2s ease 0s;
}
article ul.language-list li:hover{
  transform: translateY(-0.5rem); 
}
article ul.language-list li img{
  width: 100%;
}
article ul.language-list li figure figcaption{
  margin-top: 0.2rem;
  font-size: 0.7rem;
  line-height: 0.8rem;
}
article ul.language-list li h1{
  margin-top: 0.1rem;
  line-height: 4rem;
  font-weight: 400;
}
/*版权声明列表*/
article .copyright-list {
  width: 100%;
}
article .copyright-list>li {
  float: left;
  margin: 0.5rem 1rem 0.5rem 0;
  width: 100%; height: 5rem;
  overflow: hidden;
  border: 2px solid var(--border-color,#eee);
  border-radius: 0.4rem;
  list-style: none;
  box-shadow: 0.2rem 0.2rem 0.2rem rgba(0,0,0,0.3);
}
article .copyright-list li img{
  float: left;
  height: 100%; width: auto;
}
article .copyright-list li ul{
  float: left;
  margin-left: 0.5rem;
  list-style: none;
}
/*黑幕效果*/
.blackscreen {
  background-color: var(--text-color,#000);
  color: (--text-color,#000);
  transition: color 0.25s ease-out 0s, background-color 0.25s ease-out 0s;
}
.blackscreen:hover {
  color: var(--bg-color,#fff);
}
.half-blackscreen .blackscreen{
  color: black;
  background-color: var(--light-text-color,#ddd);
}