/* 导航栏 */
nav {
	$collapse-aside-size: 2rem;
	$tools-line-height: 1.2rem;
	z-index: 50;
	color: var(--nav-color,#fff);
	a{
		color: var(--nav-color,#fff);
	}
	/* 导航栏顶部 */
	ul#header {
		position: fixed;
		top: 0;
		display: flex;
		width: 100%; height: $nav-header-height;
		line-height: 3rem;
		background: var(--nav-bg-color,#333);
		a:hover {
			color: var(--nav-ahover-color,#e96900);
		}
		li {
			margin: 0;
			width: 5.5rem; height: 3rem;
			text-align: center;
			list-style: none;
			&.current {
				color: var(--nav-a-color,#e96900);
				border-bottom: 3px solid var(--nav-ahover-color,#e96900);
			}
			&#filler {
				flex: 1;
			}
		}
		a:last-child li {
			width: 3rem; height: 3rem;
		}
	}
	/* 折叠侧边栏 */
	span#collapse-aside{
		position: fixed;
		right: 0; bottom: 0;
		font-size: $collapse-aside-size;
		color: var(--a-color,#42b983);
	}
	/* 目录 */
	ul#directory {
		position: fixed;
		right: 0; top: calc(3rem + 5vh);
		width: 20rem;
		height: calc(80vh - ($collapse-aside-size + $tools-line-height * 8 + 3.9rem));
		transform: translateX(18rem);
		overflow: auto;
		padding-left: 2px;
		background: var(--half-transparent,rgba(255,255,255,0.5));
		border-left: 2px solid var(--a-color,#42b983);
		* {
			display: none;
		}
		&:hover {
			transform: translateX(0);
			* {
				display: block;
			}
		}
		a{
			color: var(--font-color,#000);
			&:hover{
				color: var(--a-color,#42b983);
				text-decoration: underline;
			}
		}
		.H1 {
			font-size: 1.4rem;
		}
		.H2 {
			padding-left: 1rem;
		}
		.H3 {
			padding-left: 2rem;
		}
		.H4 {
			padding-left: 3rem;
		}
		.H5 {
			padding-left: 4rem;
		}
		.H6 {
			padding-left: 5rem;
		}
	}
	/* 工具栏 */
	ul#tools {
		position: fixed;
		right: 0; bottom: calc($collapse-aside-size + 10vh);
		line-height: $tools-line-height;
		li {
			margin-top: 0.5rem;
			width: $tools-line-height + 0.1; height: $tools-line-height * 4 + 0.2;
			overflow: hidden;
			text-align: center;
			list-style: none;
			background: var(--tools-bg-color,rgba(0, 0, 0, 0.6));
		}
	}
}
