@import 'theme';
@import 'init';
@import 'nav';
@import 'aside';
@import 'article';

/* 黑幕效果 */
.blackscreen {
	background-color: var(--text-color,#000);
	color: var(--text-color,#000);
	transition: color 0.25s ease-out 0s, background-color 0.25s ease-out 0s;
	&:hover {
		color: var(--bg-color,#fff);
	}
}
body[data-half-blackscreen] .blackscreen {
	color: black;
	background-color: var(--light-text-color,#ddd);
}
